@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f3f4f6] text-[#252525] overflow-x-hidden w-screen h-full;
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  .border-gradient {
    @apply border-t-4;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #2d2e82, #3b82f6);
  }
}
